*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: #081b31;
   color: white; 
   height: 5rem;
   text-align: center;
   line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 5rem;
}
.choice{
height: 180px;
width: 180px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
#comp-score,#your-score{
    font-size: 4rem;
    
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 20px;
}
#msg{
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    padding: 10x;
}


